<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee & Wifi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

<div class="jumbotron jumbotron-fluid" style="background-color: #7cc7d8;">
  <div class="container">
    <h1 class="display-4" style="color: white; padding-top: 3rem;">☕ Coffee & Wifi 💻</h1>
    <p class="lead" style="color: white; padding-bottom: 3rem;">Want to work in a cafe but need power and wifi? You've found the right place! ☕</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>Welcome</h1>
      <p>Want to find a cafe with wifi and power for your laptop? You've come to the right place! We've got a list of cafes with ratings for coffee, wifi and power outlets. We're a community of cafe lovers helping each other find the perfect spot to work.</p>

      <a class="btn btn-warning" href="{{ url_for('cafes') }}" role="button">Show Me!</a>

    </div>
  </div>
</div>

</body>
</html>
